.header {
  height: 35vh;
  width: 100vw;
  @include desktop {
    height: 17.5rem;
  }
  &__img {
    height: 35vh;
    object-fit: cover;
    position: absolute;
  }
  &__title {
    color: $contrast-color;
    font-family: $main-font;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2.6rem;
    margin-top: 0;
    position: relative;
    text-align: center;
    top: 1rem;
  }
}
