.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 10;
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  &__input {
    border-radius: 15px 0 0 15px;
    border-style: none;
    color: $main-color;
    flex-grow: 2;
    font-size: 1.125rem;
    font-weight: 400;
    height: 3.4rem;
    margin-bottom: 1rem;
    padding-left: 1.3rem;
    position: relative;
    width: 100%;
    &::placeholder {
      color: $second-color;
      opacity: 1;
    }
    &--button {
      background-color: $dark-color;
      border-radius: 0 15px 15px 0;
      border-style: none;
      height: 3.4rem;
      position: relative;
      width: 3.2rem;
      &-arrow {
        color: $contrast-color;
      }
    }
  }
}

.info {
  align-items: center;
  background-color: $contrast-color;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 18.3rem;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;

  &__title {
    color: $second-color;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0.6rem 0;
    text-transform: uppercase;
  }
  &__data {
    color: $main-color;
    font-size: 1.3rem;
    font-weight: 500;
  }
}
