.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 10;
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  @include desktop {
    margin: 0 auto;
    max-width: 34.688rem;
  }
  &__input {
    border-radius: 0.938rem 0 0 0.938rem;
    border-style: none;
    color: $main-color;
    flex-grow: 2;
    font-size: 1.125rem;
    font-weight: 400;
    height: 3.4rem;
    margin-bottom: 1rem;
    padding-left: 1.3rem;
    position: relative;
    width: 100%;
    &::placeholder {
      color: $second-color;
      opacity: 1;
    }
    @include desktop {
      margin-bottom: 3rem;
    }
    &--button {
      background-color: $dark-color;
      border-radius: 0 0.938rem 0.938rem 0;
      border-style: none;
      height: 3.4rem;
      position: relative;
      width: 3.2rem;
      &-arrow {
        color: $contrast-color;
      }
    }
  }
}

.info {
  align-items: center;
  background-color: $contrast-color;
  border-radius: 0.938rem;
  display: flex;
  flex-direction: column;
  height: 18.3rem;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  @include desktop {
    align-items: flex-start;
    padding-top: 2rem;
    flex-direction: row;
    height: 10rem;
    justify-content: space-around;
    max-width: 70rem;
    text-align: left;
  }
  &__box {
    @include desktop {
      border-right: solid 1px rgb(199, 199, 199);
      height: 6.25rem;
      padding: 0 2rem;
      &:last-child {
        border-right: none;
      }
    }
    &--title {
      color: $second-color;
      font-size: 0.7rem;
      font-weight: 600;
      letter-spacing: 0.16rem;
      margin: 0.6rem 0;
      text-transform: uppercase;
    }
    &--data {
      color: $main-color;
      font-size: 1.3rem;
      font-weight: 500;
      @include desktop {
        font-size: 1.5rem;
      }
    }
  }
}
