body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
  height: 100%;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
